#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }



@media only screen and (max-width: 576px) {
  #overContent {
    background-color: white;
    position: absolute;
    top:0%;
    left: 0%;
    margin: 0px;
  }
}

@media only screen and (min-width: 576px) {
  #overContent {
    background-color: white;
    position: absolute;
    top:20%;
    left: 20%;
    margin: 10px;
  }
}

@media only screen and (min-width: 768px) {
  #overContent {
    background-color: white;
    position: absolute;
    top:25%;
    left: 25%;
    margin: 10px;
  }
}

#fondo1 {
  background-color: #E76F51;
  text-align: center;
  width: 100%;
}

#fondo2 {
  background-color: #F4A261;
  text-align: center;
  width: 100%;
}

body {
  background-color: #E9C46A;
}

.btn {
  background-color: #2A9D8F;
  color: black;
  font-family: 'Open Sans', sans-serif, black;
  border: white;
}

h3 {
  font-family: 'Open Sans', sans-serif, black;
  font-size: larger;
}

h6 {
  font-family: 'Open Sans', sans-serif, black;
}

label {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

input {
  font-family: 'Roboto', sans-serif;
}

#borde {
  border: 2px solid black;
}

#overContent {
  background-color: #E9C46A;
  border: 2px solid black;

  
}

#titulo-vuelto {
  margin-top:3% ;
  margin-left: 3%;
}