<!DOCTYPE html>

<html lang="es" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css\bootstrap\bootstrap.min.css" rel="stylesheet">
    <link href="css\style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link href="css/bootstrap/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/datosControl.js"></script>
    <title>DeliveryEat - Registrar Pedido</title>
</head>
<body>
    <div class="container">
        <!---Logo-->
        <div class="container mb-3">
            <div class="row">
                <div class="col">
                    <h3 class="text-muted">DeliveryEat!</h3>
                </div>
            </div>
        </div>
        <!---Título-->
        <div class="container mb-5">
            <div class="row">
                <div class="col">
                    <h3>Registrar Pedido a Comercio</h3>
                </div>
            </div>
        </div>

        <!---Carrito y datos-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-12 order-md-2 order-sm-1 mb-4 pl-4" >
                    <div class="container" ng-controller="myCtrl">
                        <div class="row">
                            <button class ="btn btn-primary btn-block" onclick="mostrarDetalle()">Carrito por ${{total}}</button>
                        </div>
                        <div class="detallePedido d-none  d-md-inline mt-3">
                            <div class="row mb-1">
                                <h6>Detalle Pedido:</h6>
                            </div>

                            <div class="row mb-0 pl-1" ng-repeat="item in articulos">
                                <div class="col-7 p-0">
                                    <p>{{item[1]}} x{{item[2]}}</p>
                                </div>
                                <div class="col-3 p-0">
                                    <p>${{item[3]}}</p>
                                </div>
                                <div class="col-2 p-0" ng-click="eliminarItem(item)" >
                                    <i class="bi bi-trash-fill"></i>
                                </div>
                            </div>

                            <!--<div class="row mb-0 pl-1">
                                <div class="col-7 p-0">
                                    <p>Coca-Cola 150ml x1</p>
                                </div>
                                <div class="col-3 p-0">
                                    <p>$100</p>
                                </div>
                                <div class="col-2 p-0">
                                    <i class="bi bi-trash-fill"></i>
                                </div>
                            </div>
                        -->
                            <div class="row mb-0 pl-1">
                                <div class="col-7 p-0">
                                    <p>Costo envío</p>
                                </div>
                                <div class="col-3 p-0">
                                    <p>$100</p>
                                </div>
                            </div>

                            <hr class="mb-0 mt-0"/>
                            <div class="row mt-1 pl-1">
                                <div class="col-7 p-0">
                                    <p>Total</p>
                                </div>
                                <div class="col-3 p-0">
                                    <p>${{total}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 order-md-1 order-sm-2" ng-controller ="tarjetaControl">
                    <form>
                        <!--Datos para Entrega-->
                        <div class="container-fluid">
                            <h6>Datos para entrega:</h6>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="selectCiudad">Ciudad</label> <br>
                                        <select class="custom-select" id="selectCiudad" required>
                                        <option value="">Seleccione Ciudad</option>
                                        <option value="1">Córdoba</option>
                                        <option value="2">Rio Cuarto</option>
                                        <option value="3">Villa María</option>
                                        </select>
                                        <div class="invalid-feedback">No seleccionó ciudad</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="nombreCalle">Calle y Número</label>
                                        <input type="text" class="form-control" id="nombreCalle" placeholder="Entre Ríos 500">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="deptoNum">Depto</label>
                                        <input type="text" class="form-control" id="deptoNum" placeholder="5A torre 2">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="referenciaDir">Referencia</label>
                                        <input type="text" class="form-control" id="referenciaDir" placeholder="Entre calles Belgrano y Chacabuco">
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <!--Tiempo de entrega>-->
                        <div class="container-fluid mt-4">
                            <h6>Tiempo de entrega:</h6>
                            <div class="row">
                                <div class="col-6 col-sm-5 col-lg-4">
                                    <div class="form-check">
                                        <input onclick="ocultarReloj()" class="form-check-input" type="radio" name="tiempoEntrega" id="loAntesPosible" value="option1" checked>
                                        <label class="form-check-label" for="loAntesPosible">
                                        Lo antes posible
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-3">
                                    <div class="form-check">
                                        <input onclick="mostrarReloj()" class="form-check-input" type="radio" name="tiempoEntrega" id="programarOpt" value="option2">
                                        <label class="form-check-label" for="programarOpt">
                                        Programar
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12 col-sm-8">
                                    <div class="timePicker d-none">
                                        <div class="form-group">
                                            <label for="appt">Seleccione Hora:</label>

                                            <input type="time" id="appt" name="appt"
                                                min="09:00" max="22:00">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-6'>
                                <div class="form-group">
                                   <div class='input-group date' id='datetime'>
                                      <input type='text' class="form-control" />
                                      <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                      </span>
                                   </div>
                                </div>
                             </div>
                        </div>

                        <!--Método de Pago-->
                        <div class="container-fluid mt-4">
                            <h6>Método de pago:</h6>
                            <div class="row">
                                <div class="col-6 col-sm-3">
                                    <div class="form-check">
                                        <input onclick="mostrarEfectivo()" class="form-check-input" type="radio" name="metodoPago" id="efectivo" value="option1" checked>
                                        <label class="form-check-label" for="efectivo">
                                        Efectivo
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-5">
                                    <div class="form-check">
                                        <input onclick="mostrarTarjeta()" class="form-check-input" type="radio" name="metodoPago" id="tarjetaCredito" value="option2">
                                        <label class="form-check-label" for="tarjetaCredito">
                                        Tarjeta de Crédito
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="efectivoForm">
                                    
                                        <div class="form-group">
                                            <div class="row pl-3 justify-content-sm-start">
                                                <div class="col-6 col-sm-6 mt-1 pr-0 ">
                                                    <label for="montoEfectivo">Con cuanto va a pagar:</label>
                                                </div>
                                                <div class="col-3 col-sm-3 pl-0">
                                                    <input type="text" class="form-control" id="montoEfectivo" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div id="overlay" class="datosTarjeta container-fluid d-none">
                            <div class="row">
                                <div id="overContent" class="p-5 col-12 col-sm-8 col-md-6 col-lg-5 rounded">
                                    <h6>Datos tarjeta:</h6>
                                    <div class="row">
                                            <div class="col-12 col-md-12">
                                                <div class="form-group">
                                                    <label for="nroTarjeta" >Número de Tarjeta</label>
                                                    <input type="text" class="form-control" id="nroTarjeta" ng-model="nroTarj">
                                                </div>
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-12">
                                            <div class="form-group">
                                                <label for="nombreTitular">Nombre y Apellido titular</label>
                                                <input type="text" class="form-control" id="nombreTitular" placeholder="Juan Perez">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-sm-4 col-md-4">
                                            <div class="form-group">
                                                <label for="vencimientoTarj">Vencimiento</label>
                                                <input type="text" class="form-control" id="vencimientoTarj" placeholder="MM/AAAA">
                                            </div>
                                        </div>
                                        <div class="col-5 col-sm-4 col-md-4">
                                            <div class="form-group">
                                                <label for="cvc">CVC</label>
                                                <input type="text" class="form-control" id="cvc" placeholder="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row justify-content-around">
                                        <div class="col-4 col-sm-4 col-md-4 p-0">
                                            <button type="submit" class="btn btn-primary" onclick="ocultarTarjeta()">Cancelar</button>
                                        </div>
                                        <div class="col-6 col-sm-4 col-md-4 p-0">
                                            <button type="submit" class="btn btn-primary" ng-click ="agregarTarj()">Agregar Tarjeta</button>
                                        </div>
                                        <div class="row justify-content-center">
                                          <div class="col">
                                            <button id="boton-agregar" class="btn btn-primary">Agregar Tarjeta</button>
                                          </div>
                                        </div>
                                <h5 id="cartel"></h5>
                                    </div>
                                </div>

                            </div>
                        </div>  
                        <div class="listadoTarjetas container-fluid mt-1 d-none">
                            <div class="row">
                                
                                <div class="col-12">
                                    <div class="border col-12 col-sm-8">
                                    <p>Tarjeta Visa terminada en {{nroTarjeta}}</p>
                                    </div>
                                </div>
                                


                            </div>
                        </div>
                        <!--Botón Registrar-->
                        <div class="container-fluid mt-3">
                            <div class="row justify-content-sm-end justify-content-center">
                                <div class="col-sm-auto col-auto"> 
                                    <button type="submit" class="btn btn-primary">Registrar Pedido</button>
                                </div>  
                            </div>
                        </div>
                    </form>
                </div>
            </div>  
        </div>
    </div>
    
    <script src="js\bootstrap\jquery-3.5.1.slim.min.js"></script>
    <script src="js\bootstrap\bootstrap.min.js"></script>
    <script src="js/bootstrap/bootstrap-datetimepicker.min.js"></script>
    <script src="js/functions.js"></script>
    <script src="js\controlVentanas.js"></script>
    <script src="js/payform.js"></script>
    <script src="js/gestorTarjeta.js"></script>
</body>
</html>